[submodule "apache"]
	path = apache
	url = https://github.com/puppetlabs/puppetlabs-apache.git
[submodule "ceilometer"]
	path = ceilometer
	url = https://github.com/stackforge/puppet-ceilometer.git
[submodule "certmonger"]
	path = certmonger
	url = https://github.com/rcritten/puppet-certmonger.git
[submodule "cinder"]
	path = cinder
	url = https://github.com/stackforge/puppet-cinder.git
[submodule "concat"]
	path = concat
	url = https://github.com/puppetlabs/puppetlabs-concat.git
[submodule "firewall"]
	path = firewall
	url = https://github.com/puppetlabs/puppetlabs-firewall.git
[submodule "glance"]
	path = glance
	url = https://github.com/stackforge/puppet-glance.git
[submodule "haproxy"]
	path = haproxy
	url = https://github.com/puppetlabs/puppetlabs-haproxy.git
[submodule "heat"]
	path = heat
	url = https://github.com/stackforge/puppet-heat.git
[submodule "horizon"]
	path = horizon
	url = https://github.com/stackforge/puppet-horizon.git
[submodule "inifile"]
	path = inifile
	url = https://github.com/puppetlabs/puppetlabs-inifile.git
[submodule "memcached"]
	path = memcached
	url = https://github.com/saz/puppet-memcached.git
[submodule "mongodb"]
	path = mongodb
	url = https://github.com/puppetlabs/puppetlabs-mongodb.git
[submodule "mysql"]
	path = mysql
	url = https://github.com/puppetlabs/puppetlabs-mysql.git
[submodule "nova"]
	path = nova
	url = https://github.com/stackforge/puppet-nova.git
[submodule "nssdb"]
	path = nssdb
	url = https://github.com/rcritten/puppet-nssdb.git
[submodule "openstack"]
	path = openstack
	url = https://github.com/stackforge/puppet-openstack.git
[submodule "pacemaker"]
	path = pacemaker
	url = https://github.com/radez/puppet-pacemaker.git
[submodule "qpid"]
	path = qpid
	url = https://github.com/dprince/puppet-qpid
[submodule "rsync"]
	path = rsync
	url = https://github.com/puppetlabs/puppetlabs-rsync.git
[submodule "ssh"]
	path = ssh
	url = https://github.com/saz/puppet-ssh.git
[submodule "stdlib"]
	path = stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "swift"]
	path = swift
	url = https://github.com/stackforge/puppet-swift.git
[submodule "sysctl"]
	path = sysctl
	url = https://github.com/puppetlabs/puppetlabs-sysctl.git
[submodule "tempest"]
	path = tempest
	url = https://github.com/stackforge/puppet-tempest.git
[submodule "vcsrepo"]
	path = vcsrepo
	url = https://github.com/puppetlabs/puppetlabs-vcsrepo.git
[submodule "vlan"]
	path = vlan
	url = https://github.com/derekhiggins/puppet-vlan.git
[submodule "vswitch"]
	path = vswitch
	url = https://github.com/stackforge/puppet-vswitch.git
[submodule "xinetd"]
	path = xinetd
	url = https://github.com/puppetlabs/puppetlabs-xinetd.git
[submodule "rabbitmq"]
	path = rabbitmq
	url = https://github.com/puppetlabs/puppetlabs-rabbitmq.git
[submodule "staging"]
	path = staging
	url = https://github.com/nanliu/puppet-staging.git
[submodule "gluster"]
	path = gluster
	url = https://github.com/purpleidea/puppet-gluster.git
[submodule "common"]
	path = common
	url = https://github.com/purpleidea/puppet-common.git
[submodule "puppet"]
	path = puppet
	url = https://github.com/purpleidea/puppet-puppet.git
[submodule "galera"]
	path = galera
	url = https://github.com/rohara/puppet-galera.git
[submodule "module-data"]
	path = module-data
	url = https://github.com/ripienaar/puppet-module-data
[submodule "sahara"]
	path = sahara
	url = https://github.com/stackforge/puppet-sahara.git
[submodule "keystone"]
	path = keystone
	url = https://github.com/stackforge/puppet-keystone.git
[submodule "neutron"]
	path = neutron
	url = https://github.com/stackforge/puppet-neutron.git
[submodule "openstacklib"]
	path = openstacklib
	url = https://github.com/stackforge/puppet-openstacklib
[submodule "puppet-n1k-vsm"]
	path = puppet-n1k-vsm
	url = https://github.com/stackforge/puppet-n1k-vsm
[submodule "nagios"]
	path = nagios
	url = https://github.com/gildub/puppet-nagios-openstack.git
