[project]
	description = puppet modules shared between packstack and foreman
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Haïkel Guémar (hguemar)
[access "refs/for/refs/*"]
	read = group user/Haïkel Guémar (hguemar)
	push = group user/Haïkel Guémar (hguemar)
	label-Code-Review = -2..+2 group user/Haïkel Guémar (hguemar)
	label-Verified = -1..+1 group user/Haïkel Guémar (hguemar)
	rebase = group user/Haïkel Guémar (hguemar)
	removeReviewer = group user/Haïkel Guémar (hguemar)
	submit = group user/Haïkel Guémar (hguemar)
[access "refs/heads/*"]
	read = group user/Haïkel Guémar (hguemar)
	create = group user/Haïkel Guémar (hguemar)
	push = +force group user/Haïkel Guémar (hguemar)
	pushMerge = group user/Haïkel Guémar (hguemar)
[access "refs/tags/*"]
	push = +force group user/Haïkel Guémar (hguemar)
	pushTag = group user/Haïkel Guémar (hguemar)
	pushSignedTag = group user/Haïkel Guémar (hguemar)
